{% extends "base.html" %}
{% block content %}
<!-- <h1>Demo</h1> -->

<p>Claim: {{ claim }}</p>
<section id="progress"></section>
<div id="evidence"></div>
<script>
    function updateProgress(task_id) {
    fetch(`/progress/${task_id}`)
        .then(response => response.json())
        .then(data => {
            const log = data.log;
            const status = data.status;
            const content = `<h2>Retrieval</h2><p>${log.join('<br>')}</p>`;
            
            document.getElementById('progress').innerHTML = content;
            if (status === "in progress") {
                setTimeout(() => updateProgress(task_id), 500);
            }
            else if (status === "completed") {
                document.getElementById('progress').style.display = 'none';

                const evidences = data.evidence;

                const evidenceContainer = document.getElementById('evidence');
                evidenceContainer.innerHTML = '';

                evidences.forEach(evidence => {
                    const evidenceDiv = document.createElement('section');
                    evidenceDiv.className = 'document';

                    let evidenceHTML = `<h2>${evidence.doc_id}</h2>
                                        <p><strong>Document Score:</strong> ${evidence.doc_score}</p>`;

                    if (evidence.sentences.length > 0) {
                        let sentencesHTML = '<div class="passages">';
                        evidence.sentences.forEach(sentence => {
                            sentencesHTML += `<p><strong>Passage:</strong> ${sentence.sentence}<br>
                                            <strong>Score:</strong> ${sentence.score}</p>
                                            `;
                        });
                        sentencesHTML += '</div>';
                        evidenceHTML += sentencesHTML;
                    }

                    evidenceDiv.innerHTML = evidenceHTML;
                    evidenceContainer.appendChild(evidenceDiv);
                });
            }
        });
    }
    updateProgress("{{ task_id }}");
</script>
{% endblock %}