{% extends "base.html" %}
{% block content %}
<!-- <h1>Welcome to ESOTERIC</h1> -->

<form method="post" action="">
    {{ form.csrf_token }}
    {{ form.claim }}
    {{ form.submit() }}
</form>

<section>
    <h2>About</h2>
    <p>ESOTERIC - ElasticSearch Semantic Optimized Text Extraction Retrieval from Information Corpus.</p>
</section>

<section>
    <h2>Instructions</h2>
    <p>
        Enter a factual claim to check in the form above and click "Submit". ESOTERIC will retrieve and verify evidence from the FEVER dataset for the claim.
    </p>
</section>

<section>
    <h2>Purpose</h2>
    <p>
        ESOTERIC is a tool that uses natural language processing to automatically retrieve and verify evidence for a given input claim.
        It is designed to assist fact-checkers and journalists in verifying claims made in news articles and other sources.
        ESOTERIC automates the information retrieval process in the fact-checking pipeline, making it faster and more efficient.
        ESORTERIC can be run on on non-specialised hardware, democratizing the ability to perform accurate fact-checking, thereby empowering a broader audience to engage in critical analysis and contribute to the fight against misinformation effectively.
    </p>
</section>

<section>
    <h2>Dataset</h2>
    <p>
        ESOTERIC uses the FEVER dataset (Fact Extraction and VERification) as its source of information.
        The FEVER dataset contains over 5 million introductory sections of Wikipedia pages, which are used as evidence to verify claims.
    </p>
</section>

<section>
    <h2>Algorithm</h2>
    <p>
        ESOTERIC uses an intelligent search algorithm to retrieve evidence from a large database of documents.
    </p>
    <ol>
        <li>Claim is entered by the user.</li>
        <li>Keyword spans from claim are extracted using the <a href="https://huggingface.co/Babelscape/wikineural-multilingual-ner"><i>wikineural-multilingual-ner<i></a> model and the <a href="https://huggingface.co/vabatista/t5-small-answer-extraction-en"><i>t5-small-answer-extraction-en<i></a> model.</li>
        <li>Documents with matching titles to these keyword spans are searched for using ElasticSearch.</li>
        <li>Documents with text that contains any of the keyword spans are retrieved.</li>
        <li>The spans are used as answers in the model <a href="https://huggingface.co/mrm8488/t5-base-finetuned-question-generation-ap"><i>t5-base-finetuned-question-generation-ap</i></a> alongside the claim to generate a set of questions about the claim.</li>
        <li>The documents obtained  </li>
        <li>Evidence passages and documents are presented to the user.</li>
    </ol>
</section>

<section>
    <h2>References</h2>
    <ul>
        <li><a href="https://fever.ai/">FEVER: a large-scale dataset for Fact Extraction and VERification</a></li>
        <li><a href="https://arxiv.org/abs/1803.05355">FEVER: a large-scale dataset for Fact Extraction and VERification (arXiv)</a></li>
</section>

{% endblock %}