{% extends "base.html" %}
{% block content %}
<!-- <h1>Welcome to FEVERISH</h1> -->

<form method="post" action="">
    {{ form.csrf_token }}
    {{ form.claim }}
    {{ form.submit() }}
</form>

<section>
    <h2>About</h2>
    <p>FEVERISH - Fact Extraction and VERification with Intelligent Search Heuristics.</p>
</section>

<section>
    <h2>Instructions</h2>
    <p>
        Enter a factual claim to check in the form above and click "Submit". FEVERISH will retrieve and verify evidence for the claim.
    </p>
</section>

<section>
    <h2>Purpose</h2>
    <p>
        FEVERISH is a tool that uses natural language processing to automatically retrieve and verify evidence for a given claim.
        It is designed to assist fact-checkers and journalists in verifying claims made in news articles and other sources.
        FEVERISH automates the information retrieval process in the fact-checking pipeline, making it faster and more efficient.
    </p>
</section>

<section>
    <h2>Dataset</h2>
    <p>
        FEVERISH uses the FEVER dataset (Fact Extraction and VERification) as its source of information.
        The FEVER dataset contains over 5 million introductory sections of Wikipedia pages, which are used as evidence to verify claims.
    </p>
</section>

<section>
    <h2>Algorithm</h2>
    <p>
        FEVERISH uses an intelligent search algorithm to retrieve evidence from a large database of documents.
    </p>
    <ol>
        <li>Claim is entered by the user.</li>
        <li>Entities from claim are extracted using...</li>
        <li>...</li>
        <li>Evidence passages and documents are presented to the user.</li>
    </ol>
</section>

<section>
    <h2>References</h2>
    <ul>
        <li><a href="https://fever.ai/">FEVER: a large-scale dataset for Fact Extraction and VERification</a></li>
        <li><a href="https://arxiv.org/abs/1803.05355">FEVER: a large-scale dataset for Fact Extraction and VERification (arXiv)</a></li>
</section>

{% endblock %}